.scoreboard{
    width: 200px;
    height: 75px; 
    display:inline-block;
    text-align: center;
    margin:0 auto;
    color:white;
}
.container{
    width: 90%;
    height: 500px; 
    border: solid 2px black;
    margin:20px auto;
    background-color:lightgray;
}

#gameBoard{
    height:50px;
    text-align: center;
    font-style: normal;
    font-size: 30px;
    
}
.row{
    text-align: center;
    background-color:lightgray;
    padding-bottom:20px;
}

body{
    background-color:aqua;
}
h5{
    font-size: 16px;
}

