body{
    background-color:#696D7D;
    padding: 20px 30px;
}
.background{
    background-color: #6F9283;
    padding: 20px 60px;
}
.wrapper{
    background-color: #CDC6A5;
    border: solid 1px black;
    border-radius: 10px;
}
.scoreBoard{
    border: solid 2px black;
    border-radius: 10px;
    background-color:#CDC6A5;
    height: 600px;
    padding: 10px 20px;
    margin: 20px auto;
}
.wins{
    background-color: #F0DCCA;
    border: solid 2px black;
    border-radius: 10px;
    width: 75%;
    height: 10vh;
    margin: 10% auto;
}
.losses{
    background-color: #F0DCCA;
    border: solid 2px black;
    border-radius: 10px;
    width: 75%;
    height: 10vh;
    margin: 10% auto;

}
.lives{
    background-color: #F0DCCA;
    border: solid 2px black;
    border-radius: 10px;
    width: 75%;
    height: 10vh;
    margin: 10% auto;

}
.incorrectLetters{
    background-color: #CDC6A5;
    border: solid 2px black;
    border-radius: 10px;
    height: 600px;
    margin: 20px auto;
    padding: 20px 30px;

}
.container{
    background-color: #8D9F87;
    padding: 20px 60px;
    height: fit-content;
    margin: 20px auto;
}
.gameBoard{
    height: fit-content;
}
.currentWord{
    background-color: #F0DCCA;
    border: solid 2px black;
    border-radius: 40%;
    margin: 10px auto;
    padding: 10px 20px;
}
.hangman{
    background-color: #F0DCCA;
    height: 300px;
    width: 100%;
    margin: 30px auto 10px auto;
    border: solid 2px black;
}
